#root {
  margin: 0 auto;
  text-align: center;
}
.App{
  width: 100% !important;
  min-height: 100vh;
}




/* mood site */
.dark{
  background-color: #242424;
}
.sun{
  background-color: #eee;
}
.App .moodImg{
  width: 40px;
  cursor: pointer;
}